.DS_Store
.project
.pydevproject
*.pyc
/node_modules/
/.settings/
/airpy/
airstory.log
/dist/
npm-debug.log
static/scripts/airstory.js
static/scripts/airstory.min.js
static/scripts/airstory.min.js.map
static/scripts/third-party.js
static/scripts/third-party.min.js
static/scripts/third-party.min.js.map
static/styles/account.min.css
static/styles/airstory.min.css
static/styles/project.min.css
static/styles/projects.min.css
static/styles/editor.min.css
