window, body, html {
	overflow: hidden;
}

#splitter-viewport {
	overflow-x: auto;
	overflow-y: hidden;
	width: 100vw;
	-webkit-overflow-scrolling: touch;
	padding-left: 50px;
}

.sort {
	line-height: 26px;
	font-size: 12px;
	color: #FFFFFF;
    margin-left: 30px;
}

.sort .btn-default {
	line-height: 26px;
	font-size: 16px;
	color: #4A4A4A;
}

.sort .caret {
	color: #d6d6d6;
	border-top: 8px dashed;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-left: 10px;
}

#add {
	display: none;
}

#projects {
	background-color: #F2F2F2;
}

#projects .search {
    padding: 0 20px 11px 16px;
}

#searchProjects {
	padding-right: 20px;
}

#project-controls {
	border-bottom: 1px solid #D6D6D6;
    margin: 0 0 10px;
}

#project-controls .search .select {
    vertical-align: top;
    width: 240px;
    padding: 0 0 0px 16px;
    display: table-cell;
}

#project-controls .search .select .sort-option {
    padding-right: 10px;
    line-height: 34px;
}

#project-controls .select select.form-control {
    border-radius: 0px;
    width: 165px;
    display: inline-block;
}


#project-controls .search form {
    display: table;
    width: 100%;
}

#project-controls .search span.input-group-addon {
    border-radius: 0px;
    background-color: #FFFFFF;
    padding-right: 9px;
}

#project-controls .search input[type="text"] {
	border-left: 0px;
	box-shadow: inset 0 0px 0px;
	padding-left: 0px;
}

#project-controls .search input[type="text"]:focus {
    border-color: #ccc;
}

#project-controls .search .input-group {
	float: left;
	min-width: 206px;
}

#projects #title {
    float: left;    
}

#projects .controls {
    float: right;
    font-size: 12px;
}

#projects .controls .archived-projects {
    margin: 13px 16px 0 0;
    display: inline-block;
    cursor: pointer;
    line-height: 17px;
}
#projects .controls .archived-projects a.link {
    text-decoration: underline;
    color: #363636;
}

#projects .controls .new-project {
    margin: 13px 16px 0 0;
    display: inline-block;
    cursor: pointer;
}

#projects .controls .new-project button {
    font-size: 12px;
    background-color: #60bb98;
    border-radius: 4px;
    color: white;
	padding-left: 18px;
    padding-right: 18px;
}


#projects .card {
	width: 330px;
	background-color: #ffffff;
	padding: 13px 15px 18px 19px;
	margin: 0px 0px 30px 0px;
    -webkit-column-break-inside: avoid; /* Chrome, Safari */
    -moz-column-break-inside:avoid;
    column-break-inside:avoid;
    page-break-inside: avoid;           /* Theoretically FF 20+ */
    break-inside: avoid;         /* IE 10 */
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: 1px solid #DBDBDB;
}

#projects .cards {
	margin-top: 30px;
	margin-left: 20px;
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
	column-width: 300px;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
    position: relative;
}

#projects .card .title {
	font-size: 22.5px;
	color: #000000;
	line-height: 27px;
	margin-bottom: 5px;
	float: left;
	width: 240px;
	overflow: hidden;
	font-weight: bold;
	padding-top: 10px;
	clear: both;
}

#projects .card .deadline {
	font-size: 12px;
	color: #a0a0a0;
	line-height: 15px;
	clear: both;
	margin-top: 15px
}

#projects .card .body {
	width: 266px;
	overflow: hidden;
}

#projects .card .cog {
	float: right;
	color: #d6d6d6;
	font-size: 25.5px;
}

#projects .card .fa-cog {
	vertical-align: top;
}

.notifications {
	clear: both;
	padding-top: 14px;
	font-size: 13px;
	color: #FF6868;
	line-height: 16px;
}

.notifications span {
	padding-left: 6px;
}

[data-as-splitter-panel="left"] {
	height: 100vh;
	overflow-y: auto; 
	overflow-x: hidden; 
}

#page-title{
	display: none;
}

.tab.project {
	display: none;
}

#add-note-modal .checkbox {
	display: none;
}

#copy-note, #move-note, #copy-image, #move-image {
	display: none;
}

#edit-note-modal .divider, #image-modal .divider {
	display: none;
}

.notes-mobile {
	float: right;
	cursor: pointer;	
}

.project-cog {
	cursor: pointer;
	color: #d6d6d6;
	font-size: 27px;
}

.archived {
	background-color: #F2F2F2 !important;
}

#projects .avatar {
	float: left;
}

#projects .user-info {
	float: left;
}

@media (min-width: 768px) {
	html, body, window {
		overflow-x: hidden;
		overflow-y: hidden;
	}
	
	#add {
		display: inline-block;
		margin-top: 17px;
		margin-left: 5px;
		vertical-align: top;
		cursor: pointer;
	}
	
	#page-title {
		margin-top: 11px;
		display: inline-block;
	}

	.notes-mobile {
		display: none;	
	}

	[data-as-splitter-panel="left"] {
		width: calc(100% - 476px);
	}
}

#image-dialog, #link-dialog {
	padding: 10px;
}

#image-dialog .url-field, #link-dialog .url-field {
	padding-bottom: 10px;
	font-weight: bold;
}

#link-dialog input {
    margin-bottom: 0px;
}

.url-field input {
	display: inline-block;
	width: 250px;
}
